<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

<dict>
  <key>cell</key>
  <string>PSGroupCell</string>
  <key>label</key>
  <string></string>
  <key>footerText</key>
<string>When this option is enabled, seconds will not be displayed in Always-On Display (AOD) mode. The screen must be unlocked for seconds to appear because the refresh rate is set to once per minute, preventing the seconds from updating continuously.</string>  <key>footerAlignment</key>
  <integer>1</integer>
</dict>


            <dict>
                <key>cell</key>
                <string>PSSwitchCell</string>
                <key>default</key>
                <false />
                <key>label</key>
                <string>Using Always On Display</string>
                <key>key</key>
                <string>isUsingADO</string>
                <key>defaults</key>
                <string>com.b4db1r3.lstsprefs</string>
                <key>id</key>
                <string>isUsingADO</string>
            </dict>


<dict>
  <key>cell</key>
  <string>PSGroupCell</string>
  <key>label</key>
  <string></string>
  </dict>


<dict>
  <key>cell</key>
  <string>PSGroupCell</string>
  <key>label</key>
  <string></string>
  <key>footerText</key>
  <string>For Changes to take effect, please respring. </string>
  <key>footerAlignment</key>
  <integer>1</integer>
</dict>

  
 

<dict>
    <key>cell</key>
    <string>PSSegmentCell</string>
    <key>default</key>
    <integer>8</integer>  
    <key>defaults</key>
    <string>com.b4db1r3.lstsprefs</string>
    <key>key</key>
    <string>timeFormatCase</string>
    <key>validTitles</key>
    <array>
        <string>24 Hours</string>  
        <string>12 Hours</string> 

    </array>
    <key>validValues</key>
    <array>
        <integer>0</integer>
        <integer>1</integer>

    </array>
    <key>label</key>
    <string>Blur Style</string>
    <key>PostNotification</key>
    <string>com.b4db1r3.ocd/reloadPrefs</string>
</dict>



	</array>
	<key>title</key>
	<string>LSTimeSeconds16</string>
</dict>
</plist>
